body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.message{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-position: 10px center;
    border-radius: 10px;
    color: #4F8A10;
    background-color: #DFF2BF;
}

div.message-no{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-position: 10px center;
    border-radius: 10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.message_box{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-position: 10px center;
    border-radius: 10px;
    color: #4F8A10;
    background-color:aqua;
}
.left-side{
    float:left;
}

.search-horizontal {
    margin-right: -15px;
    margin-left: -15px;  
}
.search-group{
    margin-bottom: 15px;
}
.ui-autocomplete-input{
    max-width: none;
    width:65%;
}
.artist-group, .song-group{
    max-width: none;
    width:40%;
}
